*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5372f0;

}
.container{
    width: 690px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
}

.wrapper{
    border:1px solid #bbb;
    border-radius: 5px;
}
.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    padding: 10px 15px;
}
.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;

}
.text-input .to-text{
    border-left: 1px solid #bbb;
    border-radius: 0px;
}
 .controls, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
} 
 .controls{
    list-style: none;
    padding: 12px 15px;
} 
.controls .icons i{
    color: #9f9f9f;
    font-size: 14px;
    cursor: pointer;
    width: 50px;
} 
 
.controls .row select{
border: 0;
outline: 0;
background: none;
font-size: 18px;
width: 120px;

}
.controls .exchange{
    color: #789456;
    font-size: 16px;
    cursor: pointer;
}
.controls .row .from .icons{
    padding-right: 20px;
    border-right:1px solid #4a4747 ;
}
#to{
    margin-left:10px ;
    color: rgb(89, 83, 83);
}
#from{
    margin-left:10px ;
    color: rgb(69, 67, 67);
}
select{
    padding: 10px;
}
button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #5372f0;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: none;

}

